.bg-icon1 {
    position: absolute;
    top: 28px;
    left: 394px;
    width: 723px;
    height: 926px;
    object-fit: cover;
  }
  .shadow-square1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 18px;
    background-color: #fff;
    width: 624px;
    height: 721px;
  }
  .shadow-06-child2 {
    position: absolute;
    height: 8.32%;
    width: 79.01%;
    top: 69.35%;
    right: 10.58%;
    bottom: 22.33%;
    left: 10.42%;
    border-radius: 6px;
    background-color: #f48a01;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .typeprimaryheading-x6 {
    position: absolute;
    top: 71.57%;
    left: 38.46%;
    line-height: 28px;
    color: #fff;
  }
  .shadow-06-child3,
  .shadow-06-child4 {
    position: absolute;
    left: 65px;
    width: 493px;
  }
  .shadow-06-child3 {
    top: 225px;
    background-color: #d9d9d9;
    height: 2px;
  }
  .shadow-06-child4 {
    top: 297px;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border: 2px solid #d8d8d8;
    box-sizing: border-box;
    height: 52px;
  }
  .typeprimaryheading-x3 {
    position: absolute;
    top: 16.23%;
    left: calc(50% - 203px);
    font-size: 56px;
    line-height: 68px;
    font-family: Outfit;
    color: #2c2738;
  }
  .typeprimaryheading-x61 {
    position: absolute;
    top: 26.91%;
    left: 18.27%;
    line-height: 22px;
    font-weight: 500;
    color: #2c2738;
    mix-blend-mode: luminosity;
  }
  .typeprimaryheading-x62 {
    position: absolute;
    top: 53.26%;
    left: 10.42%;
    line-height: 22px;
  }
  .typeprimaryheading-x63 {
    position: absolute;
    top: calc(50% + 63.5px);
    left: 65px;
    line-height: 22px;
  }
  .typeprimaryheading-x64 {
    position: absolute;
    top: 80.31%;
    left: 38.62%;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
  }
  .email-phone1 {
    position: absolute;
    top: 314px;
    left: 92px;
    font-size: 16px;
    font-family: Outfit;
    color: #555454;
    text-align: left;
    mix-blend-mode: difference;
  }
  .shadow-061 {
    position: absolute;
    top: 130px;
    left: 444px;
    box-shadow: 0 32px 72px rgba(20, 20, 43, 0.24);
    width: 624px;
    height: 721px;
  }
  .desktop-forgot-password-reset {
    position: relative;
    background-color: #fafafc;
    width: 100%;
    height: 982px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #f48a01;
    font-family: Inter;
  }
  